.contact-wrapper {
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  font-size: 1em;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  z-index: 2;
}

.contact-wrapper > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  fill: white;
  transition: all 0.3s;
}

.contact-wrapper > a:hover {
  color: gray;
  fill: gray;
}

.contact-wrapper > a > svg {
  margin: 0.5em;
  width: 35%;
  height: 35%;
}
