.contact-wrapper {
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  font-size: 1em;
  transition: font-size 0.3s, color 0.3s;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  z-index: 2;
  /* Temporary blindfold on elements under */
  background-color: rgba(14, 14, 14, 1);
}

.contact-wrapper:hover {
  font-size: 1.1em;
  color: gray;
}

.contact-wrapper > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-wrapper > a > * {
  margin: 0.15em;
}
