.home-wrapper {
  display: inline-block;
  position: absolute;
  bottom: 2vh;
  left: 2vh;
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  z-index: 2;
}

.home-wrapper > div {
  font-size: max(1.25vw, 1.75vh);
  line-height: max(1.75vw, 2.25vh);
  margin: 4px 0%;
}
