.info-wrapper {
  display: inline-block;
  position: absolute;
  bottom: 2vh;
  left: 2vh;
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  z-index: 2;
}

.info-wrapper > div {
  font-size: max(1.25vw, 1.75vh);
  line-height: max(2vw, 2.5vh);
  transition: color 0.3s;
}

.info-wrapper > div:hover {
  color: gray;
}
