.photography-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  z-index: 2;
  font-size: max(1.25vw, 1.75vh);
}
