.portfolio-wrapper {
  text-align: right;
  position: absolute;
  right: 2vh;
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  width: 30%;
  z-index: 2;
}

.portfolio-header {
  font-size: max(2.25vw, 2.75vh);
  font-weight: 600;
  margin-bottom: 0.5em;
}

.portfolio-list > li {
  margin: 20px 0px;
}

.portfolio-list > li > a {
  font-size: max(1.75vw, 2.25vh);
  font-family: "Neue Montreal-Medium";
  letter-spacing: 1px;
}

.portfolio-list > li > h2 {
  font-size: max(1.5vw, 2vh);
  font-family: "Neue Montreal-Book";
  letter-spacing: 1px;
}

.portfolio-list > li > h3 {
  font-size: max(1vw, 1.5vh);
  font-family: "Neue Montreal";
  letter-spacing: 1px;
}
