.portfolio-wrapper {
  text-align: right;
  position: absolute;
  right: 2vh;
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  width: 32.5%;
  z-index: 2;
}

.portfolio-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.portfolio-list > li {
  margin: 20px 0px;
}

.portfolio-list > li > a {
  font-size: 1.5em;
  font-family: "Neue Montreal-Medium";
  letter-spacing: 1px;
}

.portfolio-list > li > h1,
h2 {
  font-size: 1em;
  font-family: "Neue Montreal-Book";
  letter-spacing: 1px;
}

.portfolio-list > li > h3 {
  font-size: 0.75em;
  font-family: "Neue Montreal";
  letter-spacing: 1px;
}
